.navigation {
	width: 100%;
}

.navbar {
	background-color: white;
	color: grey;
	position: fixed;
	width: 100%;
	height: 10%;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}

.navbarLogo {
	width: 15%;
}

#navbarLogo {
	width: 109%;
}

#smallLogo {
	width: 94%;
}

ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

li {
	display: inline-block;
	margin: 10px;
}

li:hover {
	color: #495057;
}

#smallLogo {
	display: none;
}

.navbar .responsiveIcon {
	display: none;
}

@media (max-width: 654px) {
	#navbarLogo {
		display: none;
	}
	#smallLogo {
		display: initial;
	}
	.navbar ul {
		display: none;
	}
	.navbar .responsiveIcon {
		display: initial;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}