<div class="navigation">

    <!-- <a href="#" class="header__icon" id="header__icon">Icon</a> -->
    <div class="navbar">
    	<a href="#" class="header__logo">Logo</a>
  
	    <ul class="menu">
	    	<a ui-sref="searcyBy"><li>Home</li></a>
	        <a ui-sref="editProfile"><li>My Profile</li></a>
	        <a ui-sref="myGames"><li>My Game</li></a>
	        <a ui-sref="login"><li>Sign Out</li></a>
	    </ul>

	    <div class="responsiveIcon">
    		<!-- <img id="circleLogo" src="https://cdn1.iconfinder.com/data/icons/cooking-and-food/510/14-chef-512.png" alt="Circle Logo"/> -->
    		<a href="#"><p>Menu</p></a>
    	</div>
	</div>
      
</div>