<div class="navigation">
  
    <div class="navbar">

    	<a class="navbarLogo" href="#/searchBy">
    		<img id="navbarLogo" src="src/images/greyLogo.png"/>
    		<img id="smallLogo" src="src/images/smallLogo.png"/>
    	</a>
  
	    <ul class="menu">
	    	<a ui-sref="searchBy"><li>Home</li></a>
	        <a ui-sref="editProfile"><li>My Profile</li></a>
	        <a ui-sref="myGames"><li>My Game</li></a>
	        <a ui-sref="login"><li ng-click="signOut()">Sign Out</li></a>
	    </ul>

	    <div class="responsiveIcon">
    		<a href="#"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    	</div>
	</div>
      
</div> 