<div class="gameView-container">

        <p class="place-name">{{place.name}} Test</p>

        <form class="h5 text-center mb-4">
            <div class="md-form">
                <input type="text" id="orangeForm-name" class="form-control" ng-model="game" style="font-family:Arial, FontAwesome" placeholder="&#xf1e3; Game">
            </div>
            <div class="md-form">
                <input type="text" id="orangeForm-name" class="form-control" ng-model="numberOfPlayers" style="font-family:Arial, FontAwesome" placeholder="&#xf2be; Number of Players">
            </div>
            <div class="md-form">
                <input type="time" id="time" class="form-control" ng-model="time" style="font-family:Arial, FontAwesome" placeholder="&#xf017; Time">
            </div>
            	</br>
            <div class="text-center">
                <button class="btn btn-deep-orange" ng-click="createGame(user.uid, game, numberOfPlayers, time, place.id)">Create Game</button>
            </div>
        </form>

        <div class="current_games card" ng-repeat="currentgame in currentgames">
            <div class="card-header">
                <p class="game-title">{{currentgame.game}}</p>
            </div>
            <div class="card-block">
                <p class="card-text">{{currentgame.players}} players needed</p>
                <p class="card-text">At {{currentgame.time | date: "h:mma"}}</p>
            </div>
            <div class="card-link">
                <p>Created by: <a class="username" ng-click="getMyGames(currentgame.uid)">{{currentgame.username}}</a></p>
                <!-- <button type="button" ng-click="deleteG()" -->
            </div>
        </div>

</div>