.sportsView-container {
	background-color: white;
	margin-top: 2%;
	padding-top: .5%;
}

.all-sports {
	margin-top: 5%;
    margin-left: 9%;
    margin-bottom: 1%;
    width: 82%;
    height: 10%;
	border: 1px solid white;
	background-image: url("../../images/volleyball_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	border-radius: 7px;
	color: white;
}

.all-sports:hover {
	background-color: white;
	border: 1px solid white;
}

h1 {
	line-height: 200%;
	text-transform: uppercase;
}

.sports-container {
	width: 100%;
	position: relative;
	color: white;
}

.sports {
	display: inline-block;
	border: 1px solid white;
	margin: 1%;
	padding-top: 1%;
	height: 10%;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 7px;
}

.sports:hover {
	background-color: white;
	border: 1px solid white;
}

.width0 {
	width: 30%;
	background-image: url("../../images/sports_overlay.png");
	background-position: 113% 5%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.width1 {
	width: 50%;
	background-image: url("../../images/sports_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.width2 {
	width: 50%;
	background-image: url("../../images/sports_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.width3 {
	width: 30%;
	background-image: url("../../images/sports_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.width4 {
	background-image: url("../../images/sports_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 5;
}

.width5 {
	background-image: url("../../images/sports_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 5;
}

.width6 {
	background-image: url("../../images/sports_overlay.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 5;
}

p {
	text-transform: capitalize;
}