<div class="sportsView-container">

<div class="all-sports" ui-sref="mapView({zip:address || zipcode, searchTerm: 'all-sports'})">
	<h1 id="all-sports-title">All Sports</h1>
</div>

<div class="sports-container">
	<div ng-class="'width'+($index % 4)" class="sports" ng-repeat="sport in sports" ui-sref="mapView({zip:address || zipcode, searchTerm: sport.search_term})">
		<p style="text-transform: uppercase">{{sport.name}}</p>
		<p>Minimum Players Needed: {{sport.minimum_players}}</p>
	</div>
</div>

</div>
