#soccer_field {
	background-image: url("src/images/soccer_field.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	min-height: 100vh;
	z-index: -20;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: arial;
}

::-webkit-input-placeholder {
  color: red;
  opacity: 1; 
}