<div class="profile-picture">
	<form name="form">
	    <img ngf-thumbnail="image || user.image">
	    	<!-- <img src="{{user.image}}"/> -->
	    <button name="image" ngf-select ng-model="image">Upload image</button>
	    <button ng-click="submitImage(image, user.uid)">Submit</button>
	</form>
	
</div>

<!-- <img src="{{user.image}}"/> -->


<div class="profile">
	<p>{{user.firstname}} {{user.lastname}}</p>
	<p>{{user.username}}</p>
	<p>Games created:</p>
	<p>Games participated:</p>
	<p>Sports badge earned:</p>
</div>

<div>
	<button type="button" id="letsPlayButton" ui-sref="searchBy">Let's Play!</button>
</div>
	<br>

<div>
	<button class="btn btn-caution" ng-click="signOut()">Sign Out</button>
</div>