<div id="soccer_field_overlay">
    <a class="back-button" ui-sref="login">
        <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
        <span><i id="back"> Back </i></span> 
    </a>

    <div class="smaller-logo-container">
            <img id="smaller-logo" src="src/images/logo.png"/>
    </div>
 
    <form id="sign-up-form">
        <label>
            <input type="text" ng-model="firstname" required />
            <div class="label-text"><i class="fa fa-user prefix grey-text"></i>  First name</div>
        </label>
        <label>
            <input type="text" ng-model="lastname" required />
            <div class="label-text"><i class="fa fa-user prefix grey-text"></i>  Last name</div>
        </label>
        <label>
            <input type="text" ng-model="email" required />
            <div class="label-text"><i class="fa fa-envelope prefix grey-text"></i> Email Address</div>
        </label>
        <label>
            <input type="text" ng-model="username" required />
            <div class="label-text"><i class="fa fa-user prefix grey-text"></i>  Username</div>
        </label>
        <label>
            <input type="password" ng-model="password" required />
            <div class="label-text"><i class="fa fa-lock prefix grey-text"></i>  Password (6 char min)</div>
        </label>

    <div class="privacy-disclaimer">
        <p> By joining Pick-Up Play you are agreeing to our Privacy Policy &#38; Terms of Use. </p>
    </div>

         <button ng-click="createUser(firstname, email, lastname, username, password)">Create Account</button>
    </form>


</div>