<h1>Create Your Account</h1> 

<form class="h5 text-center mb-4">
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control" ng-model="firstname" placeholder="First Name">
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control" ng-model="lastname" placeholder="Last Name">
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control" ng-model="email" placeholder="Email Address">
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-username" class="form-control" ng-model="username" placeholder="Username">
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" ng-model="password" placeholder="Password">
    </div>
<!--     <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" ng-model="passwordConfirm" placeholder="Confirm Password">
    </div> -->
    	</br>
    <p> By joining Pick-Up Play you are agreeing to our Privacy Policy &#38; Terms of Use. </p>
    	</br>
    <div class="text-center">
        <button class="btn btn-deep-orange" ng-click="createUser(firstname, email, lastname, username, password)">Create Account</button>
    </div>
</form>