<div class="navbar">
	<a ui-sref="editProfile">Profile</a>
</div>

<div class="container">
	<div class="searchByLocation" ng-click="searchAddress()">
		<h1>Search by Location</h1>
		<div class="searchbyAddress">
			<input type="text" id="address" ng-model="address" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" placeholder="Zip Code">
			<button type="button" id="submitAddressButton" ui-sref="mapView({zip:address})">Enter</button>
		</div>
	</div>

	<div class="searchBySports" ui-sref="sportsView">
		<h1>Search by Sports</h1>
	</div>
</div>