/*#soccer_field {
	background-image: url("../../images/soccer_field.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}*/

.search-by-location {
	width: 100%;
	padding-top: 15%;
	overflow: hidden;
	text-align: center;
}

#address {
	width: 39% !important;
	display: inline-block !important;
}

#zipcode {
	width: 39% !important;
	display: inline-block !important;
}

sports-view {
	display: none;
}