img.bg-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg-image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  text-align: center;
  width: 100%;
}

#logo {
	display: block;
	margin: 0 auto;
	width: 60%;
	z-index: 10;
 	max-width: 100%;
  vertical-align: middle;
}

.logo-container1:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.app-overview {
  height: 250px;
}

.form-control {
  width: 70%;
  margin: 0 auto;
  color: #343a40;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.btn-outline-dark {
  color: white;
  background-color: transparent;
  background-image: none;
  border-color: white;
}

.input-field {
	width: 100%;
	position: relative;
	text-align: center;
}

#signup-button {
	margin-top: 5px;
}

.not-a-member p{
  color: white;
}