img.bg-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg-image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.logo-container {
	position: relative;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 73%;
  margin-bottom: 64px;
}

#logo {
	display: block;
	margin: 0 auto;
	margin-top: 10%;
	width: auto;
	z-index: 10;
 	max-width: 100%;
  height: auto;
  max-height: 195%;
  vertical-align: middle;
}

.logo-container1 {
  position: absolute;
  width: 100%;
  height: 15%;
 	font-size: 0;
}

.logo-container1:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.form-control {
  width: 70%;
  margin: 0 auto;
}

.btn-outline-dark {
  color: #495057;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: none;
  border-color: white;
}

.input-field {
	width: 100%;
	position: relative;
	text-align: center;
}

.h5 .not-a-member .signup-button {
	display: block;
	margin: 0 auto;
}

.not-a-member p{
  color: white;
  font: 3.5em;
}